# Ignore macOS system files
.DS_Store

# Ignore the node_modules directory
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS configuration files
.sass-cache

# Ignore Firebase specific files
.firebase
.firebaserc
.firebase.json
