//! This file is using BEM as a methodology to create hierarchy and organization of the styles
@use "reset";
@use "scroll-style";

:root {
    --background-primary: #313131;
    --background-secondary: #fff;
    --background-tertiary: #ee6b2f;
    --background-quaternary: #4dad5b;
    --font-primary: #919191;
    --font-secondary: #fff;
    --normal-color: #a8a77a;
    --fighting-color: #c22e28;
    --flying-color: #a98ff3;
    --poison-color: #a33ea1;
    --ground-color: #e2bf65;
    --rock-color: #b6a136;
    --bug-color: #a6b91a;
    --ghost-color: #735797;
    --steel-color: #b7b7ce;
    --fire-color: #ee8130;
    --water-color: #6390f0;
    --grass-color: #7ac74c;
    --electric-color: #f7d02c;
    --psychic-color: #f95587;
    --ice-color: #96d9d6;
    --dragon-color: #6f35fc;
    --dark-color: #705746;
    --fairy-color: #d685ad;
    --unknown-color: #68a090;
    --shadow-color: #5f6169;
}

body {
    color: var(--font-primary);
    font-family: "Flexo-Regular", arial, sans-serif;
    padding-right: 0 !important;
}

.header {
    align-items: center;
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    & h1 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
    }
}

.search {
    background-color: var(--background-primary);
    color: var(--font-secondary);
    margin-bottom: 3rem;
    padding: 2rem 1rem;

    &__form {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &__container--left {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    & .awesomplete {
        width: 100%;
    }

    & .btn {
        background-color: var(--background-tertiary);
        border: 0;

        & img {
            width: 1.8rem;
        }
    }

    &__container--right {
        align-items: center;
        background-color: var(--background-quaternary);
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    &__h2 {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .search {
        background-color: var(--background-primary);
        color: var(--font-secondary);
        padding: 2rem 1rem;

        &__form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
        }

        &__label {
            font-size: 1.4rem;
            font-weight: 400;
        }

        &__container--left {
            display: flex;
            gap: 0.8rem;
            width: 100%;
        }

        & .btn {
            background-color: var(--background-tertiary);
            border: 0;

            & img {
                width: 1.8rem;
            }
        }
    }
}

.section {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    min-height: calc(100vh - 250px - 150px - 70px);
    padding: 0 2rem;

    &__pokemon--information {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__block {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        justify-content: center;
    }

    &__card {
        align-items: center;
        background: #e0e0e0;
        border-radius: 1rem;
        display: flex;
        height: 280px;
        justify-content: center;
        position: relative;
        width: 280px;
        box-shadow:
            10px 10px 30px #bebebe,
            -10px -10px 30px #ffffff;
    }

    @keyframes pokeball {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.8);
        }
    }

    &__img--loader {
        height: 200px;
        position: absolute;
        width: fit-content;
        animation: pokeball 3s infinite;
        filter: grayscale(0.9);
    }

    &__main--image {
        cursor: pointer;
        height: 200px;
        left: 50%;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: all 1 ease-in-out;
        width: fit-content;

        &:active {
            filter: saturate(1.5);
        }
    }

    &__display--icon {
        gap: 0.5rem;
        z-index: 10;
        display: flex;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
    }

    &__container--icon {
        align-items: center;
        background-color: #e0e0e0;
        border-radius: 1rem;
        box-shadow: 2px 2px 10px #bebebe;
        display: flex;
        height: 64px;
        justify-content: center;
        transition: all 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        width: 64px;
        padding: 0.2rem;
    }

    &__container--icon[data-hover]:hover {
        transform: scale(1.1);
    }

    &__icon {
        height: auto;
    }

    &__btn {
        z-index: 100;
        background-color: var(--background-primary);
        border-radius: 0.5rem;
        color: var(--background-secondary);
        font-weight: 600;
        padding: 0.8rem;
        width: 100%;
        transition: all 0.5s ease;

        &:hover {
            background-color: var(--background-tertiary);
        }

        &:active {
            background-color: var(--bug-color);
        }
    }

    &__canvas {
        padding: 0.8rem;
        height: 180px;
        width: fit-content;
    }

    & h5 {
        color: var(--background-primary);
        font-size: 1.2em;
        font-weight: 700;
        margin: 0;
    }

    & h4 {
        font-size: 0.9em;
        font-weight: 700;
        margin: 0;
    }

    &__type {
        display: flex;
        gap: 0.5rem;
    }

    &__chip {
        border-radius: 0.5rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 600px) {
    .section {
        &__block {
            flex-direction: column;
        }
    }
}

.footer {
    align-items: center;
    background-color: var(--background-primary);
    color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem;

    &__h5 {
        font-size: 1.8rem;
        font-weight: 700;

        & a:hover {
            text-decoration: none;
            color: var(--background-tertiary);
        }
    }

    &__p {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

.normal {
    background-color: var(--normal-color);
    color: var(--background-secondary);
}

.fighting {
    background-color: var(--fighting-color);
    color: var(--background-secondary);
}

.flying {
    background-color: var(--flying-color);
    color: var(--background-secondary);
}

.poison {
    background-color: var(--poison-color);
    color: var(--background-secondary);
}

.ground {
    background-color: var(--ground-color);
    color: var(--background-secondary);
}

.rock {
    background-color: var(--rock-color);
    color: var(--background-secondary);
}

.bug {
    background-color: var(--bug-color);
    color: var(--background-secondary);
}

.ghost {
    background-color: var(--ghost-color);
    color: var(--background-secondary);
}

.steel {
    background-color: var(--steel-color);
    color: var(--background-primary);
}

.fire {
    background-color: var(--fire-color);
    color: var(--background-secondary);
}

.water {
    background-color: var(--water-color);
    color: var(--background-secondary);
}

.grass {
    background-color: var(--grass-color);
    color: var(--background-secondary);
}

.electric {
    background-color: var(--electric-color);
    color: var(--background-secondary);
}

.psychic {
    background-color: var(--psychic-color);
    color: var(--background-secondary);
}

.ice {
    background-color: var(--ice-color);
    color: var(--background-primary);
}

.dragon {
    background-color: var(--dragon-color);
    color: var(--background-secondary);
}

.dark {
    background-color: var(--dark-color);
    color: var(--background-secondary);
}

.fairy {
    background-color: var(--fairy-color);
    color: var(--background-secondary);
}

.unknown {
    background-color: var(--unknown-color);
    color: var(--background-secondary);
}

.shadow {
    background-color: var(--shadow-color);
    color: var(--background-secondary);
}
